body {
  background-image: url('https://kartinki.pics/uploads/posts/2021-07/thumbs/1627089090_26-kartinkin-com-p-poluprozrachnii-goluboi-fon-krasivo-27.jpg');
}

.App {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.counter {
  /* margin-left: 150px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  margin-right: 10px;
}


/* .App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
} */